* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #5c899e;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: hsl(214, 31%, 42%);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}

/* Style and position of the left menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav {
  float: left;
  width: 30%;
  padding: 20px;
  height: 1200px;
}

/* Style of the article  */

article {
  float: left;
  padding: 20px;
  width: 70%;
  height: 1200px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: rgb(170, 167, 167);
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
