/* Image */

#reg-img {
  width: 50%;
  display: block;
  margin: auto;
  border: 6px ridge purple;
  position: relative;
}

ul {
  font-family: fantasy;
}

p {
  font-family: fantasy;
  font-size: 12pt;
  line-height: 1, 5em;
  font-weight: bolder;
}

.regulatory {
  color: red;
}

.info-list {
  background-color: rgba(219, 210, 210, 0.993);
  width: 50%;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
  border: 2px solid purple;
}

#container {
  width: auto;
  border: 10px solid purple;
  padding: 30px;
}

#contents {
  font-size: 13pt;
  float: right;
  width: 10%;
  margin-left: 10px;
}

h3 {
  position: relative;
  left: 50px;
}

#footing {
  background-color: rgb(
}
